.div-principal {
  display: flex;
  justify-content: center;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 40px;
  margin-bottom: 140px;
  position: relative;
  min-height: 100vh;
}

.div-table {
  width: 100%;
  height: 10rem;
}

table {

  width: inherit;
  height: fit-content;
}

.gauss-jordan-table {
  position: relative;
  border: solid 2px black;
  width: 100%;
  height: inherit;
  display: inline-table;
  border-radius: 37px;
}

tr {
  text-align: center;
}

.div-btn {
  position: relative;
  top: 15px;
  display: flex;
  justify-content: center;
}

.btn-resolver {
  padding: 10px;
  border-radius: 15px;
  border: transparent;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 8rem;
}

.section-select {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10px;
  border-radius: 20px;
  width: 100%;
}

.select-columns {
  font-size: 1rem;
  border-radius: 5px;
  width: 40px;
}

.label-select{
  font-size: 1.5rem;
  font-weight: 500;
}